/* Base styles above here */

/* Mobile Phones */
@media (max-width: 600px) {
  .container {
    background-size: cover;
    padding-top: 20px;
  }
  
  .weather {
    width: 90%;
    padding: 20px;
    margin: 20px auto;
  background: linear-gradient(130deg, rgb(91, 91, 206), rgb(5, 5, 199));  
  }
  
  .winfo h1 {
    font-size: 50px;
  }

  .winfo h2 {
    font-size: 20px;
  }

  .search input {
    font-size: 14px;
    padding: 10px 15px;
    background-color: aliceblue;
  color: black;
  }

  .details .col img {
    width: 50px;
  }

  .humidity, .wind {
    font-size: 22px;
  }
}

/* Tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    background-size: 100%;
    padding-top: 30px;
  }

  .weather {
    width: 80%;
    padding: 25px;
    margin: 40px auto;
    background: linear-gradient(130deg, rgb(91, 91, 206), rgb(5, 5, 199));
  }

  .winfo h1 {
    font-size: 60px;
  }

  .winfo h2 {
    font-size: 25px;
  }

  .search input {
    font-size: 16px;
    background-color: aliceblue;
  color: black;
  }

  .details .col img {
    width: 60px;
  }

  .humidity, .wind {
    font-size: 25px;
  }
}

/* Large screens */
@media (min-width: 1025px) {
  .container {
    padding-top: 50px;
  }

  .weather {
    width: 500px;
    padding: 30px;
    background: linear-gradient(130deg, rgb(91, 91, 206), rgb(5, 5, 199));
  }

  .winfo h1 {
    font-size: 70px;
  }

  .winfo h2 {
    font-size: 30px;
  }

  .search input {
    font-size: 18px;
    background-color: aliceblue; color: black;
  }

  .details .col img {
    width: 70px;
  }

  .humidity, .wind {
    font-size: 27px;
  }
}
